<div
  [ngClass]="{
    ' opacity-70 !cursor-default ': state.status == 'idle',
    ' hover:h-16 ': state.status == 'idle'
  }"
  class="time-slot-container w-28 h-16 pt-2 flex flex-col bg-white border border-black hover:h-[150px] overflow-hidden transition-all delay-200 cursor-pointer relative"
>
  <section class="absolute right-2">
    @if (state.status==='checked-double' ) {
    <ng-icon name="faSolidCheckDouble" />
    } @if (state.status==='check' ) {
    <ng-icon name="faSolidCheck" />
    }
  </section>
  <section class="text-xl flex justify-center">
    <span>{{ state.hour }}</span>
    <span class="mx-2">:</span>
    <span> {{ state.minutes }}</span>
  </section>
  @if (state.status==='check' ||state.status==='checked-double' ) {
  <section class="text-center">{{ state.name }}</section>
  <section class="text-center my-2 text-xs">{{ state.phone }}</section>
  <div class="w-4/5 h-[1px] border my-1 mx-auto"></div>
  @if (state.dataForBusiness) {
  <section class="flex items-center justify-center text-xs gap-x-1">
    <ng-icon size="10px" name="faSolidPersonBreastfeeding" />
    {{ state.dataForBusiness.assignedEmployeeName }}
  </section>
  } @if (state.status==='check' ) {
  <section class="mt-auto">
    <app-btn [type]="'outline'" [size]="'small'"> لغو </app-btn>
  </section>
  } }
</div>
